body {
    font-family: Arial, sans-serif;
    background: #32bcce;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #e3eb0a;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#weather-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    border: 1px solid #0e2cd1;
    border-radius: 5px;
    flex: 1;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #e4610a;
}

#weather-result.hidden {
    display: none;
}

#weather-result h2, #weather-result p {
    margin: 10px 0;
    color: #333;
}
